

.dashboard-body{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Satoshi';
}

.dashboard-left{
    background-color: #0E1011;
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 0;
    padding-top: 60px;
}

.dashboard-right{
    
    width: 82%;
    height: 100%;
    padding: 10px 10px 10px 0px;
}

.dashboard-right-content{
    width: 100%;
    height: 100%;
    background-color: #0E1011;
    border-radius: 12px;
}

.dashboard-left-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 18px;
    position: relative;
}

.admin-profile{
    padding: 5px;
    border: 1px solid #202020;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.admin-profile img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.admin-logout{
    color: #FAFAFC;
    font-weight: 300;
    background-color: #191919;
    border: 1px solid #202020;
    padding: 8px 18px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-logout:hover{
    cursor: pointer;
    transition: all ease .3s;
    background-color: #212121;
    border: 1px solid #242424;
}

.logout-icon{
    font-size: 22px;
    font-weight: 400;
}

.users, .tests, .questions {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 6px 24px;
}

.user-icon, .test-icon, .question-icon{
    color: #F94F39;
    font-size: 14px;
}

.dashboard-left-top .menu{
    color: #FAFAFC;
    font-weight: 300;
    
    text-decoration: none;
}

.menu.active{
    border-right: 2px solid #F94F39;
}

.user-popup{
    position: absolute;
    bottom: 48px;
    left: 203px;
}

.dashboard-right-content {
  padding: 80px 220px;
  overflow-y: scroll;
  
  /* Modern browsers */
  scrollbar-width: thin;
  scrollbar-color: #141515b1 transparent;

  /* WebKit browsers */
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.2);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}