/* src/assets/fonts/fonts.css */
@font-face {
  font-family: 'Satoshi';
  src: url('./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Add more weights/styles if needed */
